#sankey {
  height: 475px;
}
canvas {
  width: 85vw;
  background:#fff;
  border:1px solid #ccc;
}
@media only screen and (max-width: 768px) {
  #sankey {
    width:1000px;
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  figure {
    margin:0;
  }
}
@media only screen and (min-width: 768px)  {
  #sankeypng {
    display: none;
  }
}
