#sankey {
  width:90vw;
  height:78vh;
}
@media only screen and (max-width: 768px) {
  #sankey {
    display: none;
  }
}
#sankeypng {
  width:90vw;
  height:57vh;
}
@media only screen and (min-width: 768px)  {
  #sankeypng {
    display: none;
  }
}
